*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1320px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* панель навигации */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0px;
    border-bottom: 1px solid #000;
}

/* нав меню */
.header__link{
    display: flex;
    align-items: center;
    gap: 47px;
}

/* ссылки */
.header__link_list a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    opacity: 0.5;
    transition: .4s;
}

/* ховер */
.header__link_list a:hover{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    opacity: 1;
}

.header__social{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__social_telephone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}

/* информация в хедере */
.header__main{
    max-width: 1357px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 70px;
    margin: 65px auto;
}

/* фото хеаедр */
.header__main_photo{
    padding-top: 121px;
    position: relative;
}

.header__main_photo-txt{
    position: absolute;
    top: 0;
}

.header_main_photo_one{
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: -1;
}

.header_main_photo_txt{
    position: absolute;
    top: 73px;
    z-index: -2;
    left: 120px;
}

/* кртящий шар */
.header_main_photo_txt{
    animation: rotate 20s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* текст хеадер */
.header__main_txt{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.txt__header_top{
    position: relative;
}

.txt__header_top_text{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 27px;
    top: 2px;
    left: 27px;
}

.txt__header_top_one{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.txt__header_top_second{
    max-width: 111px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.txt__header_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 81.1656px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
    max-width: 861.52px;
    width: 100%;
}

/* черные шары */

.txt__header_ssilka_cards{
    display: flex;
    gap: 270px;
    height: 340px;
    position: relative;

}

.txt__header_ssilka_main{
    top: 60px;
    position: absolute;
    display: block;
    background: #FFFFFF;
    border: 1px solid #000000;
    transition: .7s;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt__header_ssilka_main:hover{
    top: 60px;
    position: absolute;
    display: block;
    background: #000;
    border: 1px solid #000000;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt__header_ssilka_main_one{
    top: 0;
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.txt__header_ssilka_main_second{
    top: 30px;
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.txt__header_ssilka_main_text{
     position: relative;
}

.txt__header_ssilka_main-txt{
    top: -50px;
    left: 50px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #FFFFFF;
}

.txt__header_ssilka_main-txt_one{
    position: absolute;
    top: -20px;
    left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 138px;
    width: 100%;
}

.txt__header_ssilka_main-txt_three{
    position: absolute;
    top: -20px;
    left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 226px;
    width: 100%;
}

.txt__header_client{
    display: flex;
    /* max-width: 800px; */
    width: 100%;
    margin-bottom: 50px;
}

.left_client_subtitile_contaner{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    max-width: 534px;
}

.left_client_titile{
    background: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 16px;
    max-width: 186px;
    width: 100%;
}

.left_client_subtitile{
    padding: 35px 108px 35px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;    
    color: #000000;
}

.right_client_subtitile_contaner{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    max-width: 250px;
    width: 100%;
}

.right_client_subtitile{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    padding: 35px 0px 61px 40px;
    width: 100%;
}

.corporate__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
    max-width: 520px;
    width: 100%;
}

.corporate__cards{
    display: flex;
}

.corporate__cards_card_title_one{
    padding: 3px 18px;
    text-align: center;
    max-width: 56px;
    width: 100%;
    background: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.corporate__cards_card_title_one_container{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    max-width: 267px;
    width: 100%;
}

.corporate__cards_card_subtitle_one_container{
    padding: 32px 33px 31px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #000000;
}

.corporate__cards_card_title_second_container{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    max-width: 266px;
    width: 100%;
}

.corporate__cards_card_title_second_container{
    padding: 32px 45px 58px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #000000;
}

.corporate__cards_card_title_three_container{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 266px;
    /* width: 100%; */
}

.corporate__cards_card_subtitle_three_container{
    padding: 32px 0 84px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #000000;
    max-width: 191px;
    width: 100%;
}

/* вопрос */

.update__container{
    display: flex;
    align-items: center;
    gap: 24px;
}

.update__container_txt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    max-width: 720px;
    width: 100%;
}


/* synergy */
.synergy{
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 70px;
    margin: 65px auto;
    position: relative;
}

.synergy__left{
    margin-right: 70px;
    position: relative;
    display: block;
    width: 425px;
}



.synergy__left_card_main{
    top: 60px;
    position: absolute;
    display: block;
    background: #FFFFFF;
    border: 1px solid #000000;
    transition: .7s;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.synergy__left_card_main:hover{
    top: 60px;
    position: absolute;
    display: block;
    background: #000;
    border: 1px solid #000000;
    transition: .7s;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.synergy__left_card_main_one{
    top: 110px;
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.synergy__left_card_main_second{
    top: 140px;
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.synergy__left_card_main-txt_one{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 195px;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 50px;
}

.synergy__right{
    display: flex;
    max-width: 807px;
    width: 100%;
    flex-direction: column;
}

.synergy__right_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 33px;
}

.synergy__right_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.synergy__right_container_top{
    display: flex;
    align-items: self-start;
    gap: 10px;
    padding: 34px 0px 45px 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.synergy__right_container_bottom{
    display: flex;
    align-items: self-start;
    gap: 10px;
    padding: 34px 0px 45px 0px;
    border-bottom: 1px solid #000;
}

.synergy__right_container_top_subtitle span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
}

.synergy__right_container_top_subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #000000;
    max-width: 688px;
    width: 100%;
}


/* introspection */
.introspection{
    position: relative;
    margin-bottom: 72px;
}

.introspection__title{
    top: 26px;
    left: 87px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 346px;
    width: 100%;
}

.main_your__content{
    display: flex;
    max-width: 1320px;
    width: 100%;
    margin: auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 121px;
}

.right__your_content_text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.txt_contact_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
}

.txt_contact_bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.txt_contact_bottom_subtitle{
    display: flex;
    gap: 12px;
}

.txt_contact_bottom_subtitle_last span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
}

.txt_contact_bottom_subtitle_last{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
}

.doubts__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doubts__top_title{
    background: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 10px;
}

.doubts__top_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.doubts__top_prev,
.doubts__top_next{
    background: none;
    outline: none;
    border: none;
}

.doubts__top_btn_txt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}

.doubts__bottom{
    border-top: 1px solid #000;
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doubts__bottom_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #000000;
    max-width: 380px;
    width: 100%;
}

.doubts__bottom_btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    padding: 24px 59px 23px 60px;
    border: 1px solid #000;
    transition: .4s;
}

.doubts__bottom_btn:hover{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    padding: 24px 59px 23px 60px;
    border: 1px solid #000;
}

.services__top{
    /* border-top: 1px solid #000; */
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}


.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
  
.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 55s linear infinite;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
}
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
.marquee_second {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: flex;
    gap: 20px;
}

.marquee_second img {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 35s linear infinite reverse;
}
  
@keyframes marquee_second {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(-100%); }
}

.services__main{
    max-width: 1440px;
    width: 100%;
    height: 1263px;
    overflow: hidden;
    margin: auto;
}


                    /* шары расположены по часовой стрелке */

/* 1шар */
.services__main__block_one{
    position: relative;
    top: 104px;
    left: 305px;
}

/* 2шар */
.services__main__block_second{
    position: relative;
    top: 104px;
    left: 689px;
}

/* 3шар */
.services__main__block_third{
    position: relative;
    top: 438px;
    left: 882px;
}

/* 4шар */
.services__main__block_fourth{
    position: relative;
    top: 770px;
    left: 689px;
}

/* 5шар */
.services__main__block_fifth{
    position: relative;
    top: 770px;
    left: 305px;
}

/* 6шар */
.services__main__block_sixth{
    position: relative;
    top: 438px;
    left: 112px;
}

/* 6шар */
.services__main__block_seventh{
    position: relative;
    top: 438px;
    left: 496px;
}

.services__main_one{
    position: absolute;
    width: 446px;
    height: 446px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: .4s;
}

.services__main_one:hover{
    position: absolute;
    width: 446px;
    height: 446px;
    border: 1px solid #000;
    background: #000;
}

.services__main_one_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    max-width: 186px;
    width: 100%;
    transition: .4s;
}
/* ------------------------------------------------------------------------------- */

/* 1 */

.services__main__block_one :hover .services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 186px;
    width: 100%;
}

/* 2 */

.services__main__block_second :hover .services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 186px;
    width: 100%;
}
/* 3 */

.services__main__block_third :hover .services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 186px;
    width: 100%;
}
/* 4 */

.services__main__block_fourth :hover .services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 186px;
    width: 100%;
}
/* 5 */

.services__main__block_fifth :hover .services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 186px;
    width: 100%;
}
/* 6 */

.services__main__block_sixth :hover .services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 186px;
    width: 100%;
}
/* 7 */

.services__main__block_seventh :hover .services__main_one_txt_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 186px;
    width: 100%;
}
/* ------------------------------------------------------------------------------- */

.services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #000000;
    max-width: 200px;
    width: 100%;
    transition: .4s;
}
/* ------------------------------------------------------------------------------- */

/* 1 */

.services__main__block_one :hover .services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 200px;
    width: 100%;
}

/* 2 */

.services__main__block_second :hover .services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 200px;
    width: 100%;
}
/* 3 */

.services__main__block_third :hover .services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 200px;
    width: 100%;
}
/* 4 */

.services__main__block_fourth :hover .services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 200px;
    width: 100%;
}
/* 5 */

.services__main__block_fifth :hover .services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 200px;
    width: 100%;
}
/* 6 */

.services__main__block_sixth :hover .services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 200px;
    width: 100%;
}
/* 7 */

.services__main__block_seventh :hover .services__main_one_txt_second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #FFFFFF;
    max-width: 200px;
    width: 100%;
}

/* ------------------------------------------------------------------------------- */


.services__footer{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.services__footer_photo{
    padding-bottom: 90px;
}

/* 1 */

.services__footer_text{
    max-width: 595px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.services__footer_one,
.services__footer_third
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
    max-width: 392px;
    width: 100%;
}

.services__footer_one,
.services__footer_third{
    display: inline-block;
    animation: marqueeRightToLeft  35s linear infinite alternate;
    transform: translateX(0);
  
}

@keyframes marqueeRightToLeft  {
    0% { transform: translateX(0); }
    50% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}


/* 2 */
.services__footer_second,
.services__footer_fourth{
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    color: #000000;
}

.services__footer_second{
    display: inline-block;
    animation: marqueeLeftToRight 35s linear infinite alternate;
    transform: translateX(0);
}

.services__footer_second{
    display: inline-block;
    animation: marqueeLeftToRightone 35s linear infinite alternate;
    transform: translateX(0);
}

.services__footer_fourth{
    display: inline-block;
    animation: marqueeLeftToRightone 35s linear infinite alternate;
    transform: translateX(0);
}

@keyframes marqueeLeftToRightone   {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}



